

.search-container {
    display:flex;
    flex-direction: row;
}

.search-container.element{
    align-items: center;
    justify-content: center;
    background-color: white;
}

.search-container.element.left{
    border-radius: 10px 0px 0px 10px;
    border-right-width:0px;

}

.search-container.element.left.small{
    height:34px;
    font-size:18px;
}

.search-container.element.left.big{
    height:60px;
    font-size:23px;
}

.search-container.element.right{
    border-radius: 0px 10px 10px 0px;
    border-width: 1px;
    border-left-width:0px;
    border-color:#CED4DA;
    border-style:solid; 
    cursor:pointer;
}

.search-container.element.right.small{
    height:34px;
    width:50px;
}

.search-container.element.right.big{
    height:60px;
    width:80px;
}


