.background-video {
    position: absolute;
    z-index: 10;
    left:0;
    width:100%;
    height:100%;
}  


#background-video-content {
    position: absolute;
    height:900;
    width:1560; 
	top: 50%;
    left: 50%;
} 

.black-layer{
    position: absolute;
    z-index:12;
    opacity:0.8;
    background-color: black;
    height:100%;
    width:100%;
    left:0;
}

body {
    font-size: 14px;
}

.container {
    position: absolute;
    width:100%;
    height:44px;
    z-index:15;
    top: 0;
	left: 0;
	z-index: 14;
}

.global-nav-links {
    display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.content-container {
    max-width:1000px;
    margin: 0 auto;
    background-color: blue;

}


.search-container {
    position:absolute;
    width:100%;
    height: 300px;
    z-index:15;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    padding:0 1rem;
}

.search-items{  
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    text-align: center;
    height:100%;
    margin: 0 auto;
    max-width:800px;
}

.search-items div {
    margin-bottom:20px
}


.input-container {
    position:relative;
    display:flex;
    flex-direction: row;
    color:black;
    width:100%;
    
}

.input-container input {
    border: none;
    height: 50px;
    font-size:1.1rem;
    width:100%;
    border-radius: 10px;
    padding-left:105px;
    padding-right:20px;
    outline:unset;
    flex-grow:1;

}

.input-container button {
    width:130px;
    margin-left:10px;
    border-radius: 10px;
    outline:unset;
    border:none;
    font-size:1.1rem;
    background-color:#1890ff;
    color:white;
}

.input-container svg {
    cursor: pointer;
    width: 20px;
    height: auto;
    color:black;
}

.input-container .icons {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    display:flex;
    align-items: center;
    margin-left:10px;
}

.input-container .icons * {
    margin-left:7px;
}


.landing-container {
    position:fixed;
    width:100%;
    height:100vh;
    top:0;
    left:0;

}


@media (max-width: 430px) {
    

    .input-container input::-ms-input-placeholder { /* Edge */
        color: white;
      }
    
    .input-containe input::-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }
    
    .input-container input::placeholder {
        color: white;
    }
}

